<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
                <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
                <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
                    <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
                    <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
                    <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
                    <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
                </sectionGroup>
            </sectionGroup>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <!-- sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
            <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
        </sectionGroup -->
    </configSections>
    <!-- elmah>
        <security allowRemoteAccess="0" />
        <errorMail
            from="errors@aishaudio.com"
            to="vitkoz@gmail.com"
            subject="Error on AishAudio" 
            priority="High"
            async="true"
            smtpPort="587"
            smtpServer="smtp.gmail.com"
            useSsl="true"
            userName="errors@aishaudio.com"
            password="aish613com" />
    </elmah -->


    <appSettings>
        <add key="UploadClassImgFolderName" value="~/ClassImages" />
        <add key="UploadSpeakerImgFolderName" value="~/SpeakerImages" />
        <add key="AishMainURL" value="https://aishaudio.com" />
        <add key="MonthlyMembershipSubscribeID" value="238" />
    </appSettings>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="Server=DS000792\SQLSERVER;Database=aishvivadnn_comdb_;User ID=aish613com;Password=@1s4@ud10; pooling=true; connection lifetime=120;max pool size=25;" />
    </connectionStrings>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="smtp.gmail.com" port="587" password="aish613com" userName="website-info@aishaudio.com" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.web>
        <urlMappings>
            <add url="~/new-lectures" mappedUrl="~/search/resultsdetail?sort=0"/>
			<add url="~/top-lectures" mappedUrl="~/search/resultsdetail?sort=1"/>
			<add url="~/search/results.php" mappedUrl="~/search/searchform"/>
            <add url="~/search/processing.php" mappedUrl="~/search/searchform"/>
            <add url="~/register.php" mappedUrl="~/register"/>
            <add url="~/catalog.php" mappedUrl="~/Search/fulllist"/>
        </urlMappings>
        <compilation debug="true">
            <assemblies>
                <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
        </compilation>
        <sessionState mode="InProc" timeout="30" cookieless="UseCookies"/>
        <anonymousIdentification enabled="true" cookieName=".ASPXANONYMOUS" cookieTimeout="525600" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="None" cookieless="UseCookies" />
        <authentication mode="Forms">
            <forms name=".ASPXAUTH" timeout="44640" cookieless="UseCookies" loginUrl="~/Account/RegisterCustom" slidingExpiration="true" />
        </authentication>
        <membership defaultProvider="AishAudio">
            <providers>
                <clear />
                <!--add connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="AishAudio" name="Default" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /-->
                <add connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="AishAudio" name="AishAudio" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                <add applicationName="PasswordProtection" name="PasswordProtection" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed"
                     minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""
                     connectionStringName="ApplicationServices" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
        </membership>
        <profile defaultProvider="AishAudio" enabled="true" automaticSaveEnabled="true">
            <providers>
                <clear />
                <!--add name="Default"
             type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="ApplicationServices"
             applicationName="AishAudio"
               /-->
                <add name="AishAudio" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="AishAudio" />
                <add applicationName="PasswordProtection" name="PasswordProtection" connectionStringName="ApplicationServices"
                     type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
            <properties>
                <group name="Cart">
                    <add name="Classes" allowAnonymous="true" type="String" />
                    <add name="Packages" allowAnonymous="true" type="String" />
                    <add name="Subscribe" allowAnonymous="true" type="Int64" />
                    <add name="Units" allowAnonymous="true" type="Int64" />
                </group>
                <group name="UI">
                    <add name="Search_ShowAdditionalTapeOrCD" allowAnonymous="true" type="Boolean" defaultValue="false" />
                </group>
            </properties>
        </profile>
        <roleManager enabled="true" defaultProvider="AishAudio">
            <providers>
                <clear />
                <!--add connectionStringName="ApplicationServices" applicationName="AishAudio" name="Default" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /-->
                <add connectionStringName="ApplicationServices" applicationName="AishAudio" name="AishAudio" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                <add applicationName="PasswordProtection" name="PasswordProtection"
                     connectionStringName="ApplicationServices" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
        </roleManager>
        <!--
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
    -->
        <customErrors mode="Off" />
        <pages>
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </controls>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Linq" />
                <add namespace="System.Collections.Generic" />
                <add namespace="Common.Localize" />
                <add namespace="Main.Common" />
            </namespaces>
        </pages>
        <httpHandlers>
            <remove verb="*" path="*.asmx" />
            <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
        </httpHandlers>
        <httpModules>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </httpModules>
        <siteMap defaultProvider="Static">
            <providers>
                <clear />
                <add name="Static" siteMapFile="~/Views/Shared/_sitemap/static.sitemap" type="System.Web.XmlSiteMapProvider" />
            </providers>
        </siteMap>
        <machineKey validationKey="AA75B3B01BB81BBD518478F06924FD87769B65EE" decryptionKey="D68B8CFFB2F7568920A9B340AFCA5319E3EE8CDD1A59F939" decryption="3DES" validation="SHA1" />
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                <providerOption name="CompilerVersion" value="v3.5" />
                <providerOption name="WarnAsError" value="false" />
            </compiler>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                <providerOption name="CompilerVersion" value="v3.5" />
                <providerOption name="OptionInfer" value="true" />
                <providerOption name="WarnAsError" value="false" />
            </compiler>
        </compilers>
    </system.codedom>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ScriptModule" />
            <remove name="UrlRoutingModule" />
            <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />-->
        </modules>
        <handlers>
            <remove name="WebServiceHandlerFactory-Integrated" />
            <remove name="ScriptHandlerFactory" />
            <remove name="ScriptHandlerFactoryAppServices" />
            <remove name="ScriptResource" />
            <remove name="UrlRoutingHandler" />
            <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <!--<add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />-->
        </handlers>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <applicationSettings>
        <Main.Properties.Settings>
            <setting name="S3AmazonAccessKey" serializeAs="String">
                <value>AKIAI7W7A74XORGA2NBA</value>
            </setting>
            <setting name="S3AmazonSecretKey" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="S3AmazonKeyPrefix" serializeAs="String">
                <value></value>
            </setting>
            <setting name="S3AmazonBucketName" serializeAs="String">
                <value>aaprod</value>
            </setting>
            <setting name="UploadTemporaryPath" serializeAs="String">
                <value>~/upload_temp</value>
            </setting>
            <setting name="UnitsRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxUnitsOnSubscribe" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="SubscriberDiscount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SJSerialNumber" serializeAs="String">
                <value>000094358868</value>
                <!--<value>000284794688</value>-->
            </setting>
            <setting name="SJDeveloperSerialNumber" serializeAs="String">
                <value>100497657480</value>
                <!--<value>999988887777</value>-->
            </setting>
            <setting name="SJAuthorizeServiceUrl" serializeAs="String">
                <value>https://www.skipjackic.com/scripts/evolvcc.dll?AuthorizeAPI</value>
                <!--<value>https://developer.skipjackic.com/scripts/evolvcc.dll?AuthorizeAPI</value>-->
            </setting>
            <setting name="SJChangeStatusUrl" serializeAs="String">
                <value>https://www.skipjackic.com/scripts/evolvcc.dll?SJAPI_TransactionChangeStatusRequest</value>
                <!--<value>https://developer.skipjackic.com/scripts/evolvcc.dll?SJAPI_TransactionChangeStatusRequest</value>-->
            </setting>
            <setting name="SJGetStatusUrl" serializeAs="String">
                <value>https://www.skipjackic.com/scripts/evolvcc.dll?SJAPI_TransactionStatusRequest</value>
                <!--<value>https://developer.skipjackic.com/scripts/evolvcc.dll?SJAPI_TransactionStatusRequest</value>-->
            </setting>
            <setting name="AdminEmailSubscribeNotification" serializeAs="String">
                <value>chdubin@verizon.net</value>
            </setting>
            <setting name="FromEmailNotification" serializeAs="String">
                <value>office@aishaudio.com</value>
            </setting>
            <setting name="PasswordProtectionUserName" serializeAs="String">
                <value>Branch_password_protection_access_{0}</value>
            </setting>
        </Main.Properties.Settings>
    </applicationSettings>
</configuration>