<?xml version="1.0"?>
<configuration>
 <configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ClassCatalog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=ts;Initial Catalog=Aisha;User ID=aisha;Password=AishAudio_Administrator" providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <applicationSettings>
  <ClassCatalog.Properties.Settings>
   <setting name="CreatorID" serializeAs="String">
    <value>c5d8b2b5-22af-4fe5-94ef-f0ee9fed6ae2</value>
   </setting>
   <setting name="RootEntityID" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="PortalID" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="UploadThumbnailPath" serializeAs="String">
    <value>thumbnails\</value>
   </setting>
  </ClassCatalog.Properties.Settings>
 </applicationSettings>
</configuration>
