.maintitle {
color:#3065CD;
font-size:18px;
font-weight:bold;
}
.cartheading {
color:#3065CD;
font-size:18px;
font-weight:bold;
}
.cartheadingtd {
background-color:#C9DDF8;
border-bottom:1px solid #C9DDF8;
border-right:2px solid white;
border-top:1px solid #C9DDF8;
color:#BF203A;
font-size:12px;
font-weight:bold;
}
.cartheadingspacertd {
background-color:#C9DDF8;
border-bottom:1px solid #C9DDF8;
border-right:1px solid #C9DDF8;
border-top:1px solid #C9DDF8;
color:#BF203A;
font-size:12px;
font-weight:bold;
}
.cartheadinglefttd {
background-color:#C9DDF8;
border-bottom:1px solid #C9DDF8;
border-left:1px solid #C9DDF8;
border-top:1px solid #C9DDF8;
font-weight:bold;
}
.cartheadingrighttd {
background-color:#C9DDF8;
border-bottom:1px solid #C9DDF8;
border-right:1px solid #C9DDF8;
border-top:1px solid #C9DDF8;
font-weight:bold;
}
.cartheadingfulltd {
border:1px solid black;
font-weight:bold;
}
.checkoutheading {
font-weight:bold;
}
.checkoutheadingtd {
border-bottom:1px solid;
border-top:1px solid;
font-weight:bold;
}
.checkoutheadinglefttd {
border-bottom:1px solid;
border-left:1px solid;
border-top:1px solid;
font-weight:bold;
}
.checkoutheadingrighttd {
border-bottom:1px solid;
border-right:1px solid;
border-top:1px solid;
font-weight:bold;
}
.checkoutheadingfulltd {
border:1px solid;
font-weight:bold;
}
.cartheading a:link {
font-size:xx-small;
text-decoration:none;
}
.cartheading a:visited {
text-decoration:none;
}
.cartheading a:hover {
color:white;
text-decoration:none;
}
.cartitem {
}
.cartitemtd {
color:#58595B;
font-size:11px;
}
a.cartitemtd {
color:#3060AD;
text-decoration:underline;
}
.cartitemtd a:hover {
color:#3060AD;
text-decoration:underline;
}
.cartitemtd a:visited {
color:#3060AD;
text-decoration:underline;
}
.cartitemboldtd {
color:#3060AD;
font-size:11px;
font-weight:bold;
text-decoration:none;
}
.cartitemitemnolink {
color:#3060AD;
font-size:11px;
font-weight:bold;
}
.cartitemred {
color:#BF203A;
}
.smallcaps {
color:#58595B;
font-weight:bold;
}
a.smallcaps {
color:#3060AD;
text-decoration:underline;
}
.smallcaps a:hover {
color:#3060AD;
text-decoration:underline;
}
.smallcaps a:visited {
color:#3060AD;
text-decoration:underline;
}
.cartbottomlinks {
color:#58595B;
font-weight:bold;
}
a.cartbottomlinks {
color:#3060AD;
text-decoration:underline;
}
.cartbottomlinks a:hover {
color:#3060AD;
text-decoration:underline;
}
.cartbottomlinks a:visited {
color:#3060AD;
text-decoration:underline;
}
.cartbottomlinksred {
    color:#BF203A;
    font-weight:bold;
    
}
.lightgrayline {
background-color:#CCCCCC;
}


.blueheaderbackground {
background-color:#C9DDF8;
color:#2752A1;
}

.membershipinfotoggle  {
background-image:url("../Images/sc_exp2.jpg");
background-repeat:no-repeat;
height:209px;
left:35px;
padding-top:3px;
top:210px;
visibility:hidden;
width:626px;
z-index:150;
}

.in-cart-table td
{
    padding:4px;
}