<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MainEntity.Properties.Settings.AishaConnectionString"
            connectionString="Data Source=MAINPC\SQLEXPRESS;Initial Catalog=aish-2012-03-12;Persist Security Info=True;User ID=aisha"
            providerName="System.Data.SqlClient" />
        <add name="MainEntity.Properties.Settings.AishaConnectionString1"
            connectionString="Data Source=ts;Initial Catalog=Aisha;Persist Security Info=True;User ID=aisha"
            providerName="System.Data.SqlClient" />
        <add name="MainEntity.Properties.Settings.AishaConnectionString2"
            connectionString="Data Source=.;Initial Catalog=Aisha;Persist Security Info=True;User ID=aisha"
            providerName="System.Data.SqlClient" />
        <add name="MainEntity.Properties.Settings.aishaConnectionString3"
            connectionString="Data Source=ts;Initial Catalog=aisha;Persist Security Info=True;User ID=aisha"
            providerName="System.Data.SqlClient" />
        <add name="MainEntity.Properties.Settings.AishaConnectionString4"
            connectionString="Data Source=dev.myvi.ru;Initial Catalog=Aisha;Persist Security Info=True;User ID=aisha"
            providerName="System.Data.SqlClient" />
        <add name="MainEntity.Properties.Settings.Aisha_realConnectionString"
            connectionString="Data Source=dev.myvi.ru;Initial Catalog=Aisha_real;User ID=aisha"
            providerName="System.Data.SqlClient" />
        <add name="MainEntity.Properties.Settings.Aisha_realConnectionString1"
            connectionString="Data Source=dev.myvi.ru;Initial Catalog=Aisha_real;Persist Security Info=True;User ID=aisha"
            providerName="System.Data.SqlClient" />
        <add name="MainEntity.Properties.Settings.Aisha_realConnectionString2"
            connectionString="Data Source=ts;Initial Catalog=Aisha_real;Persist Security Info=True;User ID=aisha"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>